
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.App {
  text-align: center;
}

.card {
 
  font-family: 'Roboto';
  text-align: center;
  background-color: #fff5ab;
  border-radius: 0.5em;

}
.btn{
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1; 

}
.btn:hover{
  
  -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        opacity: 0.5;
}
.profil {
  cursor: pointer;
  background-color: #c449c2;
  color: white;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1em;
  border-radius: 50%;
  margin-left: 95px;
}
.user{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: row wrap
}
